html{
    --color0: black;
    --color1: #103535;
    --color2: #1c5f61;
    --color3: #94b9b4;
    --color4: #ffecaa;
    --color5: #ffffff;
}

body{
    width:100%;
    height: 100vh;
    margin:0;
    overflow: hidden;
    background-color: var(--color1);
}

#full-screen-elem{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}

h1{
    color: var(--color4);
}

p{
    color: white;
}

label{
    color: white;
}

a{
    color: var(--color4);
}
