---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";


const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  console.debug("Not signed in. Going to sign in");
  return Astro.redirect("/signin");
}

let session;
try {
  session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });
  if (session.error) {
    Astro.cookies.delete("sb-access-token", {
      path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
      path: "/",
    });
    return Astro.redirect("/signin");
  }
} catch (error) {
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  console.debug("Not signed in. Going to sign in page");
  return Astro.redirect("/signin");
}

const email = session.data.user?.email;
let display_name = session.data.user?.user_metadata.display_name;

if(!display_name){
  display_name=email;
}
---


<Layout>
  <h1>Welcome {display_name}</h1>
  <p>We are happy to see you here</p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
    
  </form>
  <div id="prompt-div">
    
  </div>
  <div id="answer-div">

  </div>
  <button>Reveal</button>
  <button>Incorrect</button>
  <button>Correct</button>
</Layout>

<script>
  import Papa from 'papaparse';

  let percentage_from_errors = 20;
  let equal_surah_weights = false;

  const response1 = await fetch('/Ayahs_with_Metadata.csv');
  const text1 = await response1.text();
  const { data } = Papa.parse(text1, { header: true });

  /*const response2 = await fetch('/Surahs_Metadata.csv');
  const text2 = await response2.text();
  const { data } = Papa.parse(text2, { header: true });*/

  console.debug(data);

  function display_prompt(){
    const rand = Math.random() * 100;
    if (rand < percentage_from_errors) {
      display_incorrect_prompt();
    } else {
      display_forgotten_prompt();
    }

    function get_random_ayah_entry(ayah_entries: any){
      if(equal_surah_weights){
        const random_surah=Math.floor(Math.random()*113);
        const total_ayahs =20

      }
    }

    function display_incorrect_prompt(){
      return
    }

    function display_forgotten_prompt(){
      return
    }
  }
    
</script>