---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  console.debug("signed in already. Going to dashboard");
  return redirect("/dashboard");
}
---

<Layout>
  <div class="full-screen-elem" style="background-color: var(--color1); height:100%; width:100%">
    <h1 style="text-align: center;">Sign in</h1>
    <p style="text-align: center;">New here? <a href="/register">Create an account</a></p>
    <form action="/api/auth/signin" method="post" style="display: table; outline: 2px solid var(--color4); padding:20px;">
      <div class="input-div" style="display: table-row;">
        <label for="email" style="display: table-cell;">Email</label>
        <input type="email" name="email" id="email" style="display: table-cell;" />
      </div>
      <div class="input-div" style="display: table-row;">
        <label for="password" style="display: table-cell;">Password</label>
        <input type="password" name="password" id="password" style="display: table-cell;" />
      </div>
      <div class="input-div" style="display: table-row;">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</Layout>

<style>

</style>